

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">CarRental</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/cars" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/brands">Brands</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/colors">Colors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/carlist">Car List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rentals">Rental List</a>
        </li>
        <app-cart-summary></app-cart-summary>
      </ul>

      <div *ngIf="!isLogin()" class="text-end">
        <button type="button" routerLink="/login" class="btn btn-outline-light me-2">
          LogIn
        </button>
        <button type="button" routerLink="/register" class="btn btn-warning">Register</button>
      </div>

      <div *ngIf="isLogin()" class="dropdown show">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
         <span>{{currentUser}}</span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" (click) = "logOut()">Log out</a></li>
        </ul>
      </div>

    </div>
  </div>
</nav>


