<h4 class="mb-3">Payment</h4>
<div class="row">
  <div class="row col-md-8 me-2">
    <Form [formGroup]="creditCardAddForm">
      <div class="my-3">
        <div *ngFor="let cardType of cardTypes" class="form-check">
          <input
            type="radio"
            name="cardType"
            value="{{ cardType }}"
            (change)="radioChangeHandler($event)"
            id="{{cardType}}"
            formControlName="cardType"
            required
          />
          <label class="form-check-label" for="credit">{{ cardType }}</label>
        </div>
      </div>

      <div class="row gy-3">
        <div class="col-md-6">
          <label for="nameSurname" class="form-label">Name on card</label>
          <input
            type="text"
            class="form-control"
            id="nameSurname"
            formControlName="nameSurname"
            placeholder=""
            required
          />
          <small class="text-muted">Full name as displayed on card</small>
          <div class="invalid-feedback">Name on card is required</div>
        </div>

        <div class="col-md-6">
          <label for="cardNumber" class="form-label">Credit card number</label>
          <input
            type="text"
            class="form-control"
            id="cardNumber"
            formControlName="cardNumber"
            placeholder=""
            required
          />
          <div class="invalid-feedback">Credit card number is required</div>
        </div>

        <div class="col-md-2">
          <label for="expMonth" class="form-label">Exp Month</label>
          <input
            type="number"
            class="form-control"
            id="expMonth"
            formControlName="expMonth"
            placeholder=""
            required
          />

          <div class="invalid-feedback">Expiration month required</div>
        </div>

        <div class="col-md-2">
          <label for="expYear" class="form-label">Exp Year</label>
          <input
            type="number"
            class="form-control"
            id="expYear"
            formControlName="expYear"
            placeholder=""
            required
          />

          <div class="invalid-feedback">Expiration year date required</div>
        </div>

        <div class="col-md-2">
          <label for="cvv" class="form-label">CVV</label>
          <input
            type="number"
            class="form-control"
            id="cvv"
            placeholder=""
            formControlName="cvv"
            required
          />
          <div class="invalid-feedback">Security code required</div>
        </div>
      </div>

      <hr class="my-4" />

      <button
        class="w-100 btn btn-primary btn-lg"
        type="submit"
        (click)="checkOut()"
      >
        Continue to checkout
      </button>
    </Form>
  </div>

  <div class="row col-md-4 me-2">
    <div class="card">
      <img
        class="card-img-top"
        *ngIf="car"
        src="{{ carImageBasePath }}{{ getCarImage() }}"
        alt="Card image cap"
      />
      <div class="card-body" *ngIf="car">
        <h5 class="card-footer">İşlem Özeti</h5>
        <header class="card-text">
          <h4 class="me-2 mb-3">
            {{ car.brandName }} {{ car.carName }}
          </h4>
        </header>
        <p class="card-text me-2">
          Günlük Araç Fiyatı: {{ car.dailyPrice }}
        </p>
        <p class="card-text me-2">Toplam Gün Sayısı : {{ totalDay }}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"
          >Toplam Tutar :
          <h2>{{ totalPrice }} TL</h2>
        </small>
      </div>
    </div>
  </div>

</div>
