<div class="container">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
<button class="btn btn-primary me-md-2" routerLink="/colors/add"> Yeni Renk Ekle</button>
    </div>
    <br>
    <div>
        <table class="table table-striped table-sm">
            <thead class="table-secondary">
              <tr>
                <th scope="col" class="col-sm-2">Id</th>
                <th scope="col" class="col-sm-6">Color Name</th>
                <th scope="col" class="col-sm-4">Operations</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let color of colors">
                <td>{{ color.id }}</td>
                <td>{{ color.colorName }}</td>
                <td class="float-right">
                  <button class="btn btn-danger me-2" (click)="deleteColor(color)">Sil</button>
                  <button class="btn btn-warning me-2" routerLink="update/{{color.id}}">Güncelle</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>