<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-secondary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<div class="row" *ngIf="dataLoaded == true">
  <div
    *ngFor="let car of cars"
    class="card col-3"
    style="width: 30%; margin: 8px"
  >
    <img
      src="{{ carImageBasePath }}{{ getCarImage(car) }}"
      class="card-img-top"
      alt="CarImage"
    />
    <div class="card-body">
      <h5 class="card-title">{{ car.brandName }} {{ car.carName }}</h5>
      <p class="card-text">{{ car.description }}</p>
    </div>
    <section style="float: inline-end; margin-bottom: 8px">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Model Year : {{ car.modelYear }}</li>
        <li class="list-group-item">Price : {{ car.dailyPrice }} TL / day</li>
        <li class="list-group-item">Color : {{ car.colorName }}</li>
      </ul>
      <div class="card-body">
        <section style="float: right">
          <button type="button" class="btn btn-secondary">Rent</button>
        </section>
        <section style="float: left">
          <button
            type="button"
            routerLink="/cars/cardetail/{{ car.id }}"
            class="btn btn-secondary"
          >
            Details
          </button>
        </section>
      </div>
    </section>
  </div>
</div>

<table *ngIf="dataLoaded != false" class="table">
  <thead class="table-secondary">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Car Name</th>
      <th scope="col">Color Name></th>
      <th scope="col">Brand Name</th>
      <th scope="col">Daily Price</th>
      <th scope="col">Model Year</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars">
      <td>{{ car.id }}</td>
      <td>{{ car.carName }}</td>
      <td>{{ car.colorName }}</td>
      <td>{{ car.brandName }}</td>
      <td>{{ car.dailyPrice }}</td>
      <td>{{ car.modelYear }}</td>
      <td>{{ car.description }}</td>
    </tr>
  </tbody>
</table>
